*{
    margin: 0;
}

body, .modal-content{
    background: #3b3b3b;
    color: #fff;
}

table thead{
    background:#E8F4FA;
    color: #213140;
}
table td, th {
    text-align: center;
    border: none !important;
}
table td a:hover{
    text-decoration: none;
}
table th{
    text-align: center;
    cursor: pointer;
}
.dataTables_wrapper{
    color: #213140;
    width: 100%;
}
.dataTables_length{
    display:inline-block;
}
.dataTables_length select{
    outline: none;
    background: none;
    border: none;
}
.dataTables_filter{
    display:inline-block;
}
.dataTables_filter i {
    color: #213140;
}
.dataTables_filter input{
    border-radius: 6px;
    padding: 5px;
    outline: none;
    border: 1px solid #E8F4FA;
    color: #213140;
    margin-left: 10px;
}
.dataTables_info{
    display:none;
}
.dataTables_paginate{
    display:inline-block;
}
.dataTables_paginate a{
    font-weight: 500;
    margin:0 10px;
    cursor: pointer;
    text-decoration:none;
    color: #213140;
}
.dataTables_paginate a i {
    color: #213140;
}

.dataTables_length label, .dataTables_length select{
    color: #fff;
}

.dataTable thead{
    background: #707070;
}

.dataTable thead th{
    padding: 15px 5px 15px 5px;
}

.dataTable tbody{
    background: rgb(170, 170, 170);
    color: #fff;
}

.dataTable tr td{
    margin: 10px 0px 10px 0px;
}

.dataTables_filter{
    float: right;
}

.dataTables_filter i::before{
    color: #fff;
}

table{
    width: 100%;
    margin: 0;
    border-radius: 10px;
}

.dataTables_paginate{
    padding: 10px 0px 10px 0px;
}

.dataTables_paginate a, .dataTables_paginate i::before{
    color: #fff;
}

.dataTables_wrapper{
    width: 100%;
}

.dataTables_length label select option{
    background: transparent;
    color: #fff;
}