:root{
    --blue: #7289da;
    --white: #fff;
    --grey: #99aab5;
    --light-dark: #2c2f33;
    --dark: #23272a;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
